# General
*$py.class
*.so
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
target/
.ipynb_checkpoints
profile_default/
.pdm-python
.pixi
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.rdb
*.aof
*.pid
mnesia/
rabbitmq/
rabbitmq-data/
activemq-data/
*.sage.py
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.abstra/
.ruff_cache/
.pypirc
marimo/_static/
marimo/_lsp/
__marimo__/
.streamlit/secrets.toml
*.iws
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
fabric.properties

# Python
__pycache__/
*.py[codz]
.Python
*.py.cover

# Build Output
build/
dist/
sdist/
docs/_build/
.pybuilder/
.pdm-build/
cmake-build-*/
crashlytics-build.properties
.idea/caches/build_file_checksums.ser

# Logs and Debug
*.log
cython_debug/

# Environment and Config
ipython_config.py
.env
.envrc
http-client.private.env.json

# JetBrains IDE
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea_modules/
.idea/replstate.xml
.idea/sonarlint/
.idea/sonarlint.xml
.idea/httpRequests
.idea/.cache/.Apifox_Helper
.idea/ApifoxUploaderProjectSetting.xml
.idea/**/copilot.data.migration.*.xml
